* {
  margin: 0;
}

body {
  font-family: Roboto;
}

.smallText {
  font-size: 1em;
}

.bigText {
  font-size: 1.25em;
}

.col {
  text-align: center;
  box-sizing: border-box;
  width: 50%;
  float: left;
}

.pane {
  width: 100%;
  height: 100vh;
}

.hr_text {
  text-align: center;
  position: fixed;
  max-width: 50%;
  line-height: 1em;
  color: black;
  opacity: 0.5;
}
