* {
  margin: 0;
}

body {
  font-family: Roboto;
}

.smallText {
  font-size: 1em;
}

.bigText {
  font-size: 1.25em;
}

.col {
  box-sizing: border-box;
  width: 50%;
  float: left;
}

.pane {
  width: 100%;
  height: 100vh;
}

input {
  text-align: center;
}

.hr_text {
  max-width: 50%;
  line-height: 1em;
  text-align: center;
  position: relative;
  color: black;
  opacity: 0.5;
  ::before {
    content: '';
    position: absolute;
  }
  ::after {
    content: attr(data-content);
    position: relative;
    display: inline-block;

  }
}
